@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background-color: #fafafa; /* zinc-50 */
  color: #18181b; /* zinc-900 */
}

html.dark body {
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7; /* zinc-200 */
}
